@charset "utf-8";
/* CSS Document */

html
{
    font-size:13px;
    font-weight:lighter;
    font-family:Helvetica;
    height:100%;
    overflow: hidden;    
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    -o-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 

 
    
    background-image: url(../images/satinweave.png);
    /*background-image: -ms-linear-gradient(top, #DEDEDE 0%, #FAFAFA 100%);

    background-image: -moz-linear-gradient(top, #DEDEDE 0%, #FAFAFA 100%);

    background-image: -o-linear-gradient(top, #DEDEDE 0%, #FAFAFA 100%);

    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #DEDEDE), color-stop(1, #FAFAFA));

    background-image: -webkit-linear-gradient(top, #DEDEDE 0%, #FAFAFA 100%);

    background-image: linear-gradient(to bottom, #DEDEDE 0%, #FAFAFA 100%);*/

}
body
{
    overflow: hidden;
    width: 100%;
    height:100%;
    margin:0;
    position: relative;
    opacity: 0;
}
#spinner
{
    height:45px;
    width: 45px;
    position:absolute;
    margin:auto;
    top:0px;
    bottom:0px;
    left: 0px;
    right:0px;
    z-index:100;
    display: none;   
    text-align: center;
}
.contenedorInternoSpinner
{   
    width: 100%;
    height:100%;
    position: relative;
    border-radius: 5px;
    background-color: black;
}

.contenedorInternoSpinner img
{
    position: absolute;
    margin: auto;
    top:0;
    bottom:0;
    left: 0;
    right: 0;

}
#home
{
    overflow: hidden;
    width: 100%;
    height:100%;
    position: relative;
}

.botonRegresar
{
    height: 30px;
}
.botonRegresar img
{
    width:73px;
    height: 21.5px;
    margin:10px;
}
/* Vista login */
.logoSuperior
{
    width: 80%;
    margin:auto;
    margin-top: 15%;
    max-width: 360px;
}
.logoSuperior img
{
    width: 100%;
}
.titulo
{
    width: 50%; 
    margin:auto;
    text-align: center;
    margin-top: 10%;
    font-size:200%;
}
.contenedorFormaLogin 
{
    position: absolute;
    margin: auto;
    width: 300px;
    height: 30%;
    margin-top:10%;
    left: 0px;
    right: 10px;
}
.contenedorFormaLogin form
{
    width: 100%;
    height: 100%;
}
.contenedorCampo
{
    width:100%;
    height: 30px;
    margin: 10px;
}
.a1
{
    margin-left: 0px !important;

}
.cambio
{
    margin-top: 0px !important;
    margin-bottom: 0px !important;

}
.fixboton
{
    margin-right: 10px;
}

.contenedorInternoLabel
{
    float:left;
    width:27%;
    height: 30px;
    text-align: right;
    padding-right: 5px;
    position: relative;    

}
.centradorVerticalTexto
{   
    width: 100%;
    height:22px;
    position: absolute;
    margin: auto;
    top:0;
    bottom:0;
    font-weight:bold;
}
.contenedorInternoTextfield
{
    float:right;
    width: 70%;
    height: 30px;
}
/*Cambia el estilo de los textfields*/
input[type='text'], input[type='password'], input[type='number']
{
    height:22px;
    width: 90%;
    border-radius: 3px;
    border: 1px solid #BBB;
    color:#333;
    padding-left:5px;
}

.contenedorOlvidePassword
{
    text-align: right;
    font-size: 13.5px;
    margin-right:5px;
    text-decoration:underline;
    color:grey;
}
.botonLogin
{
    position: relative;
    width:114.5px;
    height: 44.5px;
    float: right;
    margin-top:13px;
    background-image: url(../images/btn-login.png);
    background-size: 114.5px 44.5px;
}
.textoBoton
{
    width:100%;
    height: 12px;
    text-align: center;
    position: absolute;
    top:0;
    bottom: 0;
    margin: auto;
    font-weight: bold;
}
.contenedorTextfieldOlvide
{
    width: 90%;
    margin: auto;
}
/*Final Login*/

/* Empieza olvide password */
.mensajeOlvide
{
    width: 80%;
    max-width: 360px;
    font-size: 90%; 
    margin:auto;
    margin-top: 10%;
    font-weight: bold;
}
.contenedorFormaLoginOlvide 
{
    position: absolute;
    margin: auto;
    width: 300px;
    height: 30%;
    margin-top:5%;
    left: 0px;
    right: 10px;
}
.contenedorFormaLoginOlvide input[type='text']
{
    width: 93%;
}

.contenedorFormaLoginOlvide form
{
    width: 100%;
    height: 100%;
}

/*Termina Olvide Password*/

/*Empieza ListaAplicaciones*/
.logoyTextoSuperior
{
    width:90%;
    height: 24%;
    position: relative;
    margin: auto;
    margin-top: 1%;
    border-bottom-style:solid;
    border-width:1px;
    border-color:lightgrey;

}
.contenedorLogo
{
    width: 35%;
    float: left;
    height: 100%;
    position: relative;

}
.contenedorLogo img
{   
    position: absolute;
    top:0;
    bottom:0;
    margin: auto;
    width: 100%;
    right: 0;
    max-width: 140px;

}
.tituloPrincipal
{
    position: relative;
    float: right;
    width: 65%;
    height: 100%;
    font-size: 200%;
    font-weight: 100;

}
.centradorVerticalTitulo
{
    position: absolute;
    top:0;
    left:20px;
    bottom:0;
    margin: auto;
    height: 1em;
}
.saludoSubtitulo
{
    width:90%;
    position: relative;
    margin: auto;
    border-bottom-style:solid;
    border-width:1px;
    border-color:lightgrey;
    overflow: hidden;
}
.contenedorSaludo
{
    float: left;
    width:100%;
    height:100%;
}
.saludoSubtitulo p
{   
    font-size:88%; 
    margin-top: 5px;
    margin-bottom: 5px;
}   
.contenedorBotonLogout 
{   
    position: absolute;
    right:0 ;
    height: 100%;
    text-align: right;
}
.contenedorBotonLogout img
{   
    width: 93.5px;
}
.saltoPeq
{
    margin-top: 12px !important;

}
.contenedorLista
{
    width:90%;
    position: relative;
    margin: auto;
}
.lista
{
    list-style-type:none;
    margin:0;
    padding-left:0;
    position: relative;
    padding-top: 0;
}
.lista li
{
    line-height:20px;
    height: 75px;
    padding:5px;
    border-bottom: 1px solid lightgrey;
    padding-left:0;
    padding-right:0;
}
.elementoLista
{
    width:100%;
    height: 100%;
    position: relative;
}
.contenedorImagenElementoLista
{
    position: relative;
    float:left;
    height: 100%;
    width: 25%;
}
.contenedorImagenElementoLista img
{   
    position: absolute;
    margin: auto;
    top:0;
    bottom:0;
    width: 100%;
    max-width: 72px;
}
.descripcionElementoLista
{
    width:75%;
    height:80%;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
}
.descripcionElementoLista p
{   
    font-size:88%; 
    margin-left:18px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.ultimaVersion
{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.fechaLista
{
    margin-top: -5px !important;
}
/*Termina ListaAplicaciones*/
/* empieza Detalle*/
.logoyTextoSuperiorMini
{
    width:90%;
    height: 14%;
    position: relative;
    margin: auto;
    margin-top: 0;
    padding-top: 5%;
    border-bottom-style:solid;
    border-width:1px;
    border-color:lightgrey;

}
.contenedorElementoLista
{
    height: 75px;
    width:90%;
    position: relative;
    margin: auto;
    margin-top: 1%;
}
.contenedorLogoMini
{
    width: 35%;
    float: left;
    height: 100%;
    position: relative;
    background-image: url(../images/sisu_compressed.png);
    background-size: 80%;
    background-repeat: no-repeat;
}
.contenedorLogoMini img
{   
    position: absolute;
    top:0;
    bottom:0;
    margin: auto;
    width: 70%;
    left: 0;
    max-width: 140px;

}
.tituloPrincipalMini
{
    position: relative;
    float: right;
    width: 60%;
    height: 100%;
    font-size: 200%;
    font-weight: 100;
    text-align: left;

}
.centradorVerticalTituloMini
{
    position: absolute;
    top:0;
    bottom:0;
    margin: auto;
    height: 1em;
}
.fechaListaMini
{
    margin-top: 1px !important;
}
.textoNotas
{
    height: 1em;
    width: 90%;
    position: relative;
    margin: auto;
    margin-top: 1%;
    font-weight: bold;
    font-size: 85%;
}
.contenedorTextoNotas
{
    width: 95%;
    position: relative;
    border-radius: 5px;
    background-color: white;
    margin: auto;
    margin-top: 3%;
    font-weight: bold;
    font-size: 85%;
    border-style: solid;
    border-width: 1px;
    border-color:lightgrey;
    height: 29%;
}
.contenedorTextoNotas p
{
    margin:5px;
    margin-top:0px;

}
.botonDescargar
{
    width: 100%;
    height: 57.5px;
    margin:auto;
    position: relative; 
}
.botonDescargar img
{
    height: 100%;
    width: 100%;
}
.botonDescargarTexto
{
    position: absolute;
    width: 100%;
    bottom:0;
    top:0;
    padding-bottom: 3px;
    margin:auto;
    height: 1em;
    width: 100%;
    text-align: center;
    color:#0D280B;
    font-weight: bold;  
    font-size: 140%;
}

.contenedorLogoMini 
{
    background-size: 65%;
}
.tituloPrincipalMini
{
}
.contenedorImagenElementoLista img
{
    width: 90%;
}
.descripcionElementoLista p
{   
    font-size:88%; 
    margin-left:18px;
    margin-top: 5%;
}
.contenedorTextoComentario
{
    width: 95%;
    position: relative;
    border-radius: 5px;
    background-color: white;
    margin: auto;
    margin-top: 3%;
    font-weight: bold;
    font-size: 85%;
    border-style: solid;
    border-width: 1px;
    border-color:lightgrey;
    height: 200px;
    pointer-events:none;
}
.contenedorTextoComentario textarea
{
    width:99%;
    height: 200px;
    background-color: transparent;
    border-color:lightgrey;
    resize:none;
    font-weight: bold;
    border-width: 0px;
    border-radius: 5px;
    pointer-events:none;
}
.contenedorTextoNotas textarea
{
    width:99%;
    height: 200px;
    background-color: transparent;
    border-color:lightgrey;
    border-radius: 5px;
    border-style: solid;
    resize:none;
    font-weight: bold;
    border-width: 1px;
    pointer-events:none;
}
.popBack
{   
    position: absolute;
    top:0;
    bottom: 5px;
    left: 0;
    right: 0;
    margin:auto;
    width:98%;
    height: 300px;
    background-image: url(../images/satinweave.png);
    border-radius: 5px;
    padding-top: 10px;
    z-index:99;
    opacity: 0;
    pointer-events:none;

}
#fondoOscurecedor
{   position: absolute;
    opacity: 0;
    background-color: black;
    width:100%;
    height: 100%;
    pointer-events:none;
    z-index: 98;
}
.abrirAgregarComentario
{
    width: 95%;
    height: 2em;
    position: relative;
    margin: auto;
    margin-top: 5px;
    background-color: lightgrey;
    border-radius: 5px;
}
.agr
{
    font-weight: normal;
    font-size: 110%;
}
.botonEnviarComentario
{
    position: absolute;
    width: 256px;
    height: 46px;
    bottom: 10px;
    left: 0;
    right: 0;
    margin:auto;
    pointer-events:none;

}
#botonEnviarComentario
{
    pointer-events:none;
}
.botonEnviarComentario img
{
    height: 100%;
    width: 100%;
}


@media screen and (orientation:portrait) and (min-device-height: 600px) and (min-device-width:481px){

    /*login*/
    .logoSuperior
    {
        margin-top: 30%;
    }
    .mensajeOlvide
    {
        margin-top: 3%;
        font-size: 123%;
    }
    .titulo
    {
        margin-top: 3%;
    }
    .contenedorFormaLogin 
    {
        margin-top: 3%;
        width: 360px;
    }
    input[type='text'], input[type='password'], input[type='number']
    {
        border-radius: 4px;
    }
    .botonLogin
    {
        width:148.2px;
        height: 57.85px;
        margin-top:10px;
        background-image: url(../images/btn-login.png);
        background-size: 148.2px 57.85px;
        font-size: 15px;
    }
    .centradorVerticalTexto
    {
        font-size: 15px;
    }
    /*login*/
    /*olvide*/
    .contenedorFormaLoginOlvide 
    {
        margin-top: 5%;
        width: 420px;
    }
    .contenedorFormaLoginOlvide input[type='text']
    {
        width: 95%;
        height: 32px;
    }
    /*olvide*/
    /*listaAplicaciones*/
    .logoyTextoSuperior
    {
        width: 90%;
        height: 18%;

    }
    .saludoSubtitulo
    {
        width:90%;
    }
    .saludoSubtitulo p
    {   
        font-size: 100%;
    }
    .tituloPrincipal
    {
        font-size: 200%;
    }
    .centradorVerticalTitulo
    {
        left:40px;
    }
    .contenedorLista
    {
        width:90%;
        position: relative;
        margin: auto;
        /*max-height: 688px;*/
    }
    .lista li
    {
        height: 75px;
    }
    .contenedorImagenElementoLista
    {
        width:14%;
    }
    .descripcionElementoLista
    {
        width:86%;
        font-size: 13px !important;
    }
    .descripcionElementoLista p
    {   
        margin-left:0px;
    }
    .botonRegresar
    {
        height: 60px;
    }
    .botonRegresar img
    {
        width:109.5px;
        height: 32.25px;
        margin:10px;
    }
        /*listaAplicaciones*/
        /*detalle*/
    .logoyTextoSuperiorMini
    {
       padding-bottom: 15px;
    }
    .contenedorLogoMini
    {
        float: none;
        width: 100%;
        height: 87px;
        position: relative;
        background-image: url(../images/logo.png);
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: top center;    
    }
    .tituloPrincipalMini
    {
        width: 100%;
        position: relative;
        float: none;
        margin:auto;
        height: 1em;
        font-size: 300%;
        font-weight: 100;
        margin-top: 5px;
    }
     .centradorVerticalTituloMini
    {
        width: 40%;
        position: relative;
        height: 1em;
        text-align: center;
    }
    .descripcionElementoLista
    {
        width:75%;
        height:80%;
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        margin:auto;
    }
    .descripcionElementoLista p
    {   
        font-size:100%;
        margin-top: 2px !important; 
    }
    .botonDescargar
    {
        width: 320px;
        height: 57.5px;
        bottom: 20px;
        position: absolute;
        left: 0;
        right: 0;
    }
    .botonDescargar img
    {
        height: 100%;
        width: 100%;
    }
    .botonEnviarComentario
    {
        width: 320px;
        height: 57.5px;
        bottom: 10px;
        position: absolute;
        left: 0;
        right: 0;
        margin:auto;
        pointer-events:none;
    }
    .botonEnviarComentario img
    {
        height: 100%;
        width: 100%;
    }
    .textoNotas
    {
        height: 1em;
        width: 90%;
        position: relative;
        margin: auto;
        margin-top: 1%;
        font-weight: bold;
        font-size:105%; 
    }
    .abrirAgregarComentario
    {
        width:32%;
        margin-top: 15px;

    }
    .popBack
    {
        height: 330px;
    }

        /*detalle*/
}

